#center {
    margin-left: 10px;
    height: auto;
    width: 720px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;   

    border: 1px solid rgba(0,0,0,.54);
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,.54);
}

/* calendar mode*/

#calendar {
    position: relative;
    top: 20px;

    font-family: 'Raleway',sans-serif;
    font-size: 20px;

    border-collapse: collapse;
}


td{
    padding: 20px 20px;   
}

/* groupAdd mode */

.groupAddPane h2, .groupUpdatePane h2{
    text-align: left;
}

.groupAddPane span, .groupUpdatePane span{
    width: 100%;
    display: inline-flex;

    font-family: 'Nanum gothic', sans-serif;
    font-style: bold;
    font-size: 20px;

    flex-direction: row;
    align-items: center;
    text-align: center;
}


.groupAddPane label,.groupUpdatePane label{
    width: 100px;
    border-right: 1px solid rgba(0,0,0,.54);

    display: flex;
}

.groupIdLabel{
    margin-left: 20px;
}

.groupAddPane input[type=text],.groupUpdatePane input[type=text]{
    display: block;
    margin-top: 5px;
    padding-left: 5px;
    margin-left: 10px;
    height: 40px;

    border: 1px solid rgba(0,0,0,.54);
    border-radius: 10px;

    font-size: 16px;
}


.dayTable{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 6px 6px;

    font-size: 16px;

    height: 40px;

    border: 1px solid rgba(0,0,0,.54);
    border-radius: 10px;

    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dayTable label{
    padding-top: 10px;
    padding-right: 7px;
    display: table-cell;

    width: 50px;
    border-width: 0px;
}

.groupMemberTable{
    width: 500px;
    height: 150px;
    margin-left: 10px;

    border: 1px solid rgba(0,0,0,.54);
}

.btnPane button{
    padding: 3px 8px;
    width: 48.5%
}