<!DOCTYPE html>
<html>
    <head>
        <title>출첵넷: 출첵의 혁명</title>
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Raleway:800" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <!--- script src="index.js"></script> --->
    </head>
    <body>
       <header>
            <h1 id="header-title">ChulCheckNet</h1>
            <nav class="header-nav">
                <ul>
                    <li class="header-nav-link">
                        <a>출첵하기</a>
                    </li>
                    <li class="header-nav-link">
                        <a>확인하기</a>
                    </li>
                </ul>
            </nav>
       </header>
       <div class="mainPane">
            <div class="loginPane">
                <h2>회원가입</h2>
                <form method="POST" action="/account/add">
                    <div class="loginPane-inputPane">
                        <input id="idInput" type="text" placeholder="ID" name="id">
                        <input id="pwInput" type="password" placeholder="Password" name="pw">
                        <input id="pw2Input" type="password" placeholder="Password(again)" name="pwCheck">
                    </div>
                    <div class="loginPane-btnPane">
                        <button id="registerConfirmBtn" type="submit">회원가입</button>
                        <div class="loginPane-btnPane-extraBtn">
                            <button type="button" id="backBtn" onclick="location.href='/login'">뒤로</button>
                            <button id="lostBtn">ID/PW찾기</button>
                        </div>
                    </div>
                </form>
            </div>
            <footer>
                    <h3 id="footer-link">made by lulu</h3>
                    <h3 id="footer-link">contact: lulu@sparcs.org</h3>
            </footer> 
       </div>
    </body>
</html>