html {
    height: 100%;
    background: #EBA12A
}

body{
    margin: -16px 0 0 0;
    display: block;
    position: relative;
    top:0px;

    height:100%;
}

h1 {
   font-family: 'Raleway',sans-serif;
   font-size: 24px;

   margin: 0px;
}

h2,a {
    font-family: 'Nanum gothic', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Nanum gothic', sans-serif;
    font-size: 14px;
}

header {
    background: #ffffff;
    border-color: rgba(0,0,0,.14);
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.06), 0 4px 5px 0 rgba(0,0,0,.06), 0 1px 10px 0 rgba(0,0,0,.08);

    border-bottom: 1px solid transparent;
    transition: box-shadow 200ms ease-in-out;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    position: fixed;
    top: 5px;
    height: 64px;
    width: 100%;
    z-index: 99;
}

footer {
    background: #fff;
    border-color: rgba(0,0,0,.14);
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
    box-shadow: 0 -2px 4px -1px rgba(0,0,0,.06), 0 -4px 5px 0 rgba(0,0,0,.06), 0 -1px 10px 0 rgba(0,0,0,.08);
    transition: box-shadow 200ms ease-in-out;

    display: flex;  
    flex-direction: row;
    align-items: flex-start;

    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    z-index: 98;
}

#footer-link{
    margin:0 0 0 30px;
}

button {
    margin-top: 5px;
}

#header-title {
    position: relative;
    top: 22px;
    left: 10px;
    display: block;

    cursor: pointer;

    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
}

.header-nav{
    margin-left: 32px;
}

.header-nav>ul {
    list-style: none;

    position: relative;
    margin: 0px;
    top: 22px;
}

 .header-nav>ul>li {
    display: inline-block;
    margin-left: 12px;
    cursor: pointer;
}

.mainPane {
    position: absolute;
    top: 86px;
    height: calc(100% - 104px); /*header와 footer의 height를 뺸 값*/
    width: 100%;

    display: block;
    text-align: center;
    
    background: #fff;
}

/*for login.html & register.html*/

.loginPane{
    display: inline-block;
    text-align: left;
    border: 1px solid rgba(0,0,0,.14);
    margin-top: 10%;
    padding: 24px 24px;

    transition: 500ms ease-in-out;
}

#idInput, #pwInput, #pw2Input{
    display: block;
    margin-top: 5px;
    padding-left: 3px;
    height: 40px;

    border: 1px solid rgba(0,0,0,.54);
    border-radius: 10px;

    font-size: 20px;
}

.loginPane-btnPane>button, .loginPane-btnPane-extraBtn>button{
    padding-left: 5px;
    height: 30px;
    display: inline-flex;

    background-color: #EBA12A;
    border: 0px solid rgba(0,0,0,.54);
    border-radius: 5px;

    justify-content: center;
    font-family: 'Nanum gothic', sans-serif;
    font-size: 16px;
    color: #fff;

    cursor: pointer;
}

#loginBtn, #registerConfirmBtn{
    width: 100%;
}

.loginPane-btnPane-extraBtn{
    flex-wrap: nowrap;
    justify-content: space-between;
}

#registerBtn, #lostBtn, #backBtn{
    width: 48.5%;
}

/*for mainPage.html */

#page-container{
    display: inline-flex;
    flex-direction: row;

    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - 72px);
}

#left-side{
    display:inline-flex;
    flex-direction: column;
    justify-content: space-between;

    width: 240px;
    height: 100%;
}

#grouplistPane,#info-pane{
    display: flex;
    width: 100%;

    border: 1px solid rgba(0,0,0,.54);
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,.54);
}

#info-pane{
    height: 48%;
}

#grouplistPane {
    display: flex;
    flex-direction: column;

    height: 50%;
}

#info-placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: #999;
}

.info-placeholder-title{
    font-size: 25px;
}

#grouplistPane>ul{
    padding-left: 0px;
    list-style: none;
}

.grouplist{
    display: flex;
    margin: 9px 10px 3px 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0,0,0,.54);

    color: #999;
}

#grouplist-last{
    border-top: 1px solid rgba(0,0,0,.54);
    margin-top: -0.5px;
}

#center {
    margin-left: 10px;
    height:100%;
    width: 800px;

    border: 1px solid rgba(0,0,0,.54);
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,.54);
}